{% extends 'base.html' %}
{% load static %}

{% block style %}
    <style>
        p {
            font-size: 16px;
        }

        .cat {
            top: 15px;
            let: 30px
        }
    </style>
{% endblock %}

{% block content %}

    <div class="bg-white w-50 mr-auto ml-auto mt-5 p-5 pos-relative">
        <br>
        <i class="pos-absolute cat">دسته بندی : <b>{% if 'allblog' in request.path %}همه {% else %}
            {{ subject.title }}{% endif %}</b></i>
        <img src="{{ blog.image.url }}">
        <h3>{{ blog.title }}</h3>
        <br>
        <p style="font-family: Vazir">{{ blog.description }}</p>
        <hr>
        <hr>
        <h4>نظرات : </h4>
        {% if user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                <br>
                {{ form.title }}
                <br><br>
                {{ form.message }}
                <br><br>
                <button type="submit" class="btn btn-success">ارسال نظر</button>
                <br><br>
            </form>
        {% else %}
            <h4 class="alert alert-info text-center">برای ارسال نظر باید وارد سایت شوید</h4>
        {% endif %}
        <hr>
        <hr>
        {% for comment in comments %}
            <div class="alert alert-secondary p-3 mt-3">
                <i class="float-left">{{ comment.user }}</i>
                <h4 style="font-family: Vazir">{{ comment.title }}</h4>
                <p style="font-family: Vazir">{{ comment.message }}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}