{% load static %}
{% load render_partial %}

<!DOCTYPE html>
<html>
<title>آموزشی</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% include 'links.html' %}

<style>
    @font-face {
        font-family: Vazir;
        src: url('{% static 'fonts/vazir/Vazir.eot' %}');
        src: url('{% static 'fonts/vazir/Vazir.eot?#iefix' %}') format('FontName-opentype'),
        url('{% static 'fonts/vazir/Vazir.woff' %}') format('woff'),
        url('{% static 'fonts/vazir/Vazir.ttf' %}') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    body{
        font-family: Vazir;
    }
</style>

{% block style %}{% endblock %}

<body style="direction: rtl">

{% render_partial 'menu' %}


<div class="">
    {% block content %}{% endblock %}
</div>


{% include 'scripts.html' %}


</body>
</html>
