{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content w-50">
                    <form method="post" class="signup-form">
                        {% csrf_token %}
                        <h2 class="form-title">ایجاد حساب کاربری</h2>
                        <br>
                        <div class="form-group">
                            {{ form.username }}
                            <span class="text-danger field-validation-valid" data-valmsg-for="Input.FirstName"
                                  data-valmsg-replace="true">
                                {% for msg in form.username.errors %}
                                    <p class="text-danger field-validation-valid d-block">{{ msg }}</p>
                                    <br>
                                {% endfor %}
                            </span>
                        </div>
                        <div class="form-group">
                            {{ form.first_name }}
                            <span class="text-danger field-validation-valid" data-valmsg-for="Input.FirstName"
                                  data-valmsg-replace="true">
                                {% for msg in form.first_name.errors %}
                                    <p class="text-danger field-validation-valid d-block">{{ msg }}</p>
                                    <br>
                                {% endfor %}
                            </span>
                        </div>
                        <div class="form-group">
                            {{ form.last_name }}
                            <span class="text-danger field-validation-valid" data-valmsg-for="Input.FirstName"
                                  data-valmsg-replace="true">
                                {% for msg in form.last_name.errors %}
                                    <p class="text-danger field-validation-valid d-block">{{ msg }}</p>
                                    <br>
                                {% endfor %}
                            </span>
                        </div>
                        <div class="form-group">
                            {{ form.email }}
                            <span class="text-danger field-validation-valid" data-valmsg-for="Input.FirstName"
                                  data-valmsg-replace="true">
                                {% for msg in form.email.errors %}
                                    <p class="text-danger field-validation-valid d-block">{{ msg }}</p>
                                    <br>
                                {% endfor %}
                            </span>
                        </div>
                        <div class="form-group">
                            {{ form.phone }}
                            <span class="text-danger field-validation-valid" data-valmsg-for="Input.FirstName"
                                  data-valmsg-replace="true">
                                {% for msg in form.phone.errors %}
                                    <p class="text-danger field-validation-valid d-block">{{ msg }}</p>
                                    <br>
                                {% endfor %}
                            </span>
                        </div>
                        <div class="form-group">
                            {{ form.password }}
                            <span class="text-danger field-validation-valid" data-valmsg-for="Input.FirstName"
                                  data-valmsg-replace="true">
                                {% for msg in form.password.errors %}
                                    <p class="text-danger field-validation-valid d-block">{{ msg }}</p>
                                    <br>
                                {% endfor %}
                            </span>
                            <span toggle="#password"
                                  class="zmdi zmdi-eye field-icon toggle-password float-left ml-2"></span>
                        </div>
                        <div class="form-group">
                            {{ form.re_password }}
                            <span class="text-danger field-validation-valid" data-valmsg-for="Input.FirstName"
                                  data-valmsg-replace="true">
                                {% for msg in form.re_password.errors %}
                                    <p class="text-danger field-validation-valid d-block">{{ msg }}</p>
                                    <br>
                                {% endfor %}
                            </span>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="form-submit" value="ثبت نام"/>
                        </div>
                    </form>
                    <p class="loginhere">
                        قبلا ثبت نام کرده ام؟ <a href="/login" class="loginhere-link">ورود</a>
                    </p>
                </div>
            </div>
        </section>

    </div>

{% endblock %}
